# Python
__pycache__/
*.py[cod]
*$py.class

# Environnement virtuel
venv/
.venv/
env/
ENV/

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Fichiers statiques / médias
staticfiles/
media/

# Variables d'environnement
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Django migrations compilées
*.pyc