<header>
  <div class="container navbar">
    <a href="{% url 'home' %}" class="logo"> MonBlog </a>

    <nav class="nav-links">
      <a
        href="{% url 'home' %}"
        class="{% if page == 'home' %}active{% endif %}"
      >
        Accueil
      </a>

      <a
        href="{% url 'services' %}"
        class="{% if page == 'service' %}active{% endif %}"
      >
        Services
      </a>

      <a
        href="{% url 'about' %}"
        class="{% if page == 'about' %}active{% endif %}"
      >
        À propos
      </a>

      {% if user.is_authenticated %}
        <a
        href="{% url 'blog' %}"
        class="{% if page == 'blog' %}active{% endif %}"
      >
        Blog
      </a>
      {% endif %}
      
    </nav>

    {% if user.is_authenticated %}
    {% if user.Role.name == 'admin' %}
      <a href="{% url 'admin_dashboard' %}" class="btn btn-outline">Espace Admin</a>
    {% endif %}
    <div class="nav-auth">
      <p>{{ user.email }}</p>
    </div>
    <div class="nav-auth">
      <a href="{% url 'logout' %}" class="btn btn-outline"> Déconnexion </a>
    </div>

    {% else %}
    <div class="nav-auth">
      <a href="{% url 'login' %}" class="btn btn-outline"> Connexion </a>

      <a href="{% url 'register' %}" class="btn btn-primary"> Inscription </a>
    </div>
    {% endif %}
  </div>
</header>

{% if user.is_authenticated %}

<p>Utilisateur connecté</p>
<p>Email : {{ user.email }}</p>
<p>Rôle : {{ user.Role.name }}</p>

{% else %}

<p>Aucun utilisateur connecté</p>

{% endif %}
